<footer>
    <div class="footer-content">
        <div class="footer-about">
            <h3>Ruta a Ruta</h3>
            <p>Dissenyem el teu itinerari ideal amb una gestió propera, segura i personalitzada. Fem camí amb tu, ruta a
                ruta.</p>
        </div>

        <div class="footer-links">
            <h4>Enllaços Ràpids</h4>
            <ul>
                <li><a href="index.html">Inici</a></li>
                <li><a href="destins.html">Tots els Destins</a></li>
                <li><a href="contacte.html#faq">Preguntes Freqüents</a></li>
                <li><a href="contacte.html">Contacte</a></li>
            </ul>
        </div>

        <div class="footer-links">
            <h4>Contacte</h4>

            <p><i class="fas fa-phone"></i> <strong>Teléfono:</strong>
                <a href="tel:+34937597021">+34 937 597 021</a>
            </p>

            <p><i class="fa-brands fa-whatsapp"></i> <strong>Whatsapp:</strong>
                <a href="https://wa.me/34937597021" target="_blank">+34 937 597 021</a>
            </p>

            <p><i class="fas fa-envelope"></i> <strong>Email:</strong>
                <a href="mailto:info@rutaaruta.com">info@rutaaruta.com</a>
            </p>
        </div>
    </div>

    <div class="footer-bottom">
        <p>&copy; 2026 Ruta a Ruta - Viatges de Muntanya. Tots els drets reservats.</p>
    </div>
</footer>