<header>
    <a href="index.html" class="logo">
        <img src="assets/images/Ruta_a_ruta_logo.png" alt="Ruta a Ruta Logo" style="height: 86px; width: auto;">
    </a>
    <nav>
        <ul>
            <li><a href="index.html">Inici</a></li>
            <li><a href="destins.html">Destins</a></li>
            <li><a href="blog.html">Blog</a></li>
            <li><a href="contacte.html">Contacte</a></li>
        </ul>
    </nav>
    <a href="tel:+34937597021" class="info-item" style="padding: 0.8rem 1.5rem; font-size: 1rem;">Truca'ns</a>
</header>